body {
    background-image: 
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("../IMG/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.title h1 {
    margin-bottom: 0.5px;
    font-size:55px;
    text-align:center; 
    line-height:1.5em; 
    font-family:"Playfair Display", serif; 
    font-weight:500;
    text-transform:uppercase;
    letter-spacing: 1px;
    color: #DCDEE6;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
  }

.title p {

    font-size:15px;
    text-align:center;
    font-family:"Playfair Display", serif;
    font-weight:500;
    margin-top: 5px;
    margin-bottom: 15px;
    text-transform:uppercase;
    letter-spacing: 20px;
    color: #DCDEE6;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.container {
    text-align: center;
    margin-top: 60px;
}

.card-box img {
    border-radius: 20px;
    width: 250px;
    height: 450px;
    object-fit: cover;
}

.card-box {
    position: relative;
    display: inline-block;
    margin: 90px;
    margin-top: 30px;
    margin-bottom: 0px;
    transform: scale(1);
    transition: 0.5s;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
}

.img-gradient{
    position: absolute; 
    border-radius: 20px;
    left:0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(rgba(0,0,0,2),rgba(0,0,0,0));
    z-index: 1;
}

.text{
    position: absolute;
    top:0;
    margin-left: 5px;
    padding: 24px;
    z-index: 2;
}

.text p{
    margin-top: 20px;
    font-size: 27px;
    color: #DCDEE6;
    font-weight:800;
    font-family:"Palatino";
}

.card-box:hover {
    transform: scale(1.10);


}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    text-align: center;
    transition: opacity 0.8s ease-in-out;
}

.btn-hover {
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    font-family:"Century Gothic";
    color: #DCDEE6;
    margin: 115px;
    margin-top: 30px;
    margin-bottom: 0;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

#fireworksOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    pointer-events: none;
    z-index: 9998;
    transition: background 0.5s ease;
}

#fireworksCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}